/*
	TeamHub
	CSS for login.php
*/
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.2s  ease;
	text-indent: -100%;
	color: black;
}

@keyframes enterFromLeft {
  from {
    left: -1000px;
	  opacity: 0;
  }
  to {
    left: 10px;
  }
}

@keyframes opacity {
  from {
	  opacity: 0;
  }
}

html .login-page{
	height: 100%;
	margin: 0;
}

#pagewrapper{
	min-height: 100%;
}

#content {
	background-color : #2E7F88;
}

#topSquare {
	height: 60%;
	width: 100%;
	background-color : #034D55;
}

#mainTitle {
	position: relative;
	color : #fff;
	text-shadow : 1px, 1px, 1px, #95989A;
	font-family : "Segoe ui", Helvetica , sans-serif;
	font-size : 175px;
	margin-top: 0px;
	font-weight : 100;
	padding: 10px 0px 0px 20px;
}

#subTitle {
	position: relative;
	color: #00AA8D;
	font-family : "Segoe ui", Helvetica , sans-serif;
	font-size : 85px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1px;
	padding: 0 0 0 20px;
	margin-top: -100px;
	animation-name: enterFromLeft;
	animation-duration: 1s;
}

#loginIdField {
	position: relative;
	margin: 100px 0 0 25%;
	width: 50%;
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 1.5em;
}

#passwordField {
	position: relative;
	margin: 50px 0 0 25%;
	width: 50%;
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 1.5em;

}

#loginButton {
	position: relative;
	width: 150px;
	height: 72px;
	border: none;
	border-radius: 10px;
	font-size: 2em;
	color: #fff;
	background-color: #005D7A;
	margin: 30px 0 0 45%;
}

#loginButton:hover{
	background-color: #00AA8D;
	color: black;
}

#createAccountLink {
	position: relative;
	display: block;
	text-decoration: none;
	color: #A7A5A5;
	font-size: 1.5em;
	font-family : "Segoe ui", Helvetica , sans-serif;
	margin: 30px 0 0 44%;
	padding-bottom: 60px;
}

#createAccountLink:hover{
	color: #00AA8D;
}

#create{
	margin: 0;
}

#graphicContainer{
	float: right;
	width: 25%;
	padding: 3% 5% 0 0;
	animation-name: opacity;
	animation-duration: 3s;
}



#graphic{
	width: 100%;
}

/*
svg:hover path{
	fill: white;
}
*/

svg{
	fill: white;
}

@media(max-width: 1100px){

	#mainTitle{
/*		display: block;*/
/*		height: 100%;*/
		font-size: 12vw;
/*		line-height: 50px;*/
/*		padding-bottom: -50px;*/
	}
	#subTitle{
		font-size: 6vw;
		margin: -40px 0 0;
		padding-bottom: 20px;
	}
	#login{
/*		width: 80%;*/
	}
	#loginButton{
		width: 25%;
		font-size: 4vw;
	}
	#createAccountLink{
		font-size: 3vw;
	}
}
